SITE_ADDRESS=:80

SUPABASE_URL=https://dein-projekt.supabase.co
SUPABASE_ANON_KEY=dein-anon-key
SUPABASE_SERVICE_KEY=dein-service-role-key

TWITCH_CLIENT_ID=deine-twitch-client-id
TWITCH_CLIENT_SECRET=dein-twitch-client-secret
TWITCH_REDIRECT_URI=http://62.238.49.219
